@model IEnumerable<Loan>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    @foreach (var loan in Model)
    {
    <tr>
        <td>
            <h3>@loan.LoanName</h3>
            <h4>Description: @loan.LoanDesc </h4>
        </td>
        
        <td>Loan Description: </td>
        <td>Loan Amount: @loan.LoanAmount</td>
        <td>Loan Date: @loan.LoanDate</td>
        <td>Deadline: @loan.Deadline</td>
        <td>
            Debtors:
            @foreach (var debtor in loan.Debtors)
            {
            <p>@debtor.FirstName  @debtor.LastName</p>
            }
        </td>
        </tr>
    }
</table>

@*<a asp-action="Edit" asp-route-id="@item.LoanID">Edit</a> |
    <a asp-action="Details" asp-route-id="@item.LoanID">Details</a> |
    <a asp-action="Delete" asp-route-id="@item.LoanID">Delete</a>*@
